*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "Raleway", "Montserrat", sans-serif;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
}

.header-filter:after {
  background: url("../../img/top-banner.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  filter: blur(5px) opacity(80%);
}

.navbar .navbar-brand {
  height: auto;
  min-height: none;
}

.main.main-raised .container {
  width: 100%;
}

.tab-pane .blog-item {
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 6px;
  position: relative;
}

.tab-pane .blog-item img {
  margin-bottom: 0;
}

.tab-pane .blog-item .caption {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
  opacity: 0;
}

.tab-pane .blog-item .caption h4 {
  position: absolute;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.tab-pane .blog-item:hover .caption {
  opacity: 1;
}

.tab-pane .gallery-item {
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 6px;
  position: relative;
}

.tab-pane .gallery-item .caption {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
  opacity: 0;
}

.tab-pane .gallery-item .caption h4, .tab-pane .gallery-item .caption p {
  margin: 0;
}

.tab-pane .gallery-item img {
  filter: brightness(90%);
  margin-bottom: 0;
}

.tab-pane .gallery-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  filter: brightness(100%);
}

.tab-pane .gallery-item:hover .caption {
  opacity: 1;
}
